<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<body id="forgotPassword">
	<section class="login">
		<div class="login_box">
			<div class="left">
                <div class="top_link"><a href="#"><img src="https://drive.google.com/u/0/uc?id=16U__U5dJdaTfNGobB_OpwAJ73vM50rPV&export=download" alt="">Return home</a></div>
				<div class="left-text">
                    <h2>Registration</h2>
                    <h5>Make a new account ?</h5>
                    <button class="submitLeft" routerLink="/login">Regist here</button>
                </div>
			</div>
			<div class="right">
				<div class="right-text">
                    <div class="contact">
                        <form action="">
                            <h3>FORGOT PASSWORD</h3>
                            <input type="text" placeholder="NAME">
                            <input type="email" placeholder="EMAIL">
                            <h4>Send Link, To Reset Your Password</h4>
                            <button class="submit" routerLink="/login">SEND</button>
                        </form>
                    </div>
                </div>
			</div>
		</div>
	</section>
</body>
