img{
	width: 100%;
}
.login {
    height: 1000px;
    width: 100%;
    background: radial-gradient(#dfdfdf, #ffffff);
    position: relative;
}
.login_box {
    width: 1050px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #fff;
    border-radius: 10px;
    box-shadow: 1px 4px 22px -8px #0004;
    display: flex;
    overflow: hidden;
}

.login_box .left{
    width: 41%;
    height: 100%;
    padding: 25px 25px;
    
  }
.login_box .right{
    width: 59%;
    height: 100%  
  }

.right .contact{
      display: flex;
      align-items: center;
      justify-content: center;
      align-self: center;
      height: 100%;
      width: 73%;
      margin: auto;
  }

  .right h3{
      margin-top: 160px;
    text-align: center;
    margin-bottom: 30px;
  }
  .right input {
      border: none;
      width: 80%;
      margin: 15px 0px;
      border-bottom: 1px solid #4f30677d;
      padding: 7px 9px;
      width: 100%;
      overflow: hidden;
      background: transparent;
      font-weight: 600;
      font-size: 14px;
  }
  .right{
      background: linear-gradient(-45deg, #dcd7e0, #fff);
  }
  .submit {
      border: none;
      padding: 15px 70px;
      border-radius: 8px;
      display: block;
      margin: auto;
      margin-top: 60px;
      background: #6d00c0;
      color: #fff;
      font-weight: bold;
      -webkit-box-shadow: 0px 9px 15px -11px rgba(88,54,114,1);
      -moz-box-shadow: 0px 9px 15px -11px rgba(88,54,114,1);
      box-shadow: 0px 9px 15px -11px rgba(88,54,114,1);
  }
  .submitLeft {
    border: none;
    padding: 15px 70px;
    border-radius: 8px;
    display: block;
    margin: auto;
    margin-top: 102px;
    background: #6d00c0;
    color: #fff;
    font-weight: bold;
    -webkit-box-shadow: 0px 9px 15px -11px rgba(88,54,114,1);
    -moz-box-shadow: 0px 9px 15px -11px rgba(88,54,114,1);
    box-shadow: 0px 9px 15px -11px rgba(88,54,114,1);
}
  
  .left {
      background: linear-gradient(212.38deg, rgb(255, 0, 255) 0%,
       rgb(195, 0, 255) 100%),url();
      color: #fff;
      position: relative;
  }
  
//   text left

.left .left-text{
    height: 100%;
    position: relative;
    transform: translate(0%, 45%);
    margin-top: -30px;
  }
  .left-text h2{
      color: #fff;
    display: block;
    width: 100%;
    text-align: center;
    font-size: 50px;
    font-weight: 500;
  }
  .left-text h5{
      color: rgb(255, 255, 255);
    display: block;
    width: 100%;
    text-align: center;
    font-size: 19px;
    font-weight: 400;
  }

.top_link img {
    width: 28px;
    padding-right: 7px;
    margin-top: -3px;
}

.left .top_link a {
    color: #452A5A;
    font-weight: 400;
}
.left .top_link{
  height: 20px
}