<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<body>
	<section class="login">
		<div class="login_box">
			<div class="left">
                <div class="top_link"><a href="#"><img src="https://drive.google.com/u/0/uc?id=16U__U5dJdaTfNGobB_OpwAJ73vM50rPV&export=download" alt="">Return home</a></div>
				<div class="left-text">
                    <h2>BUDI</h2>
					<h5>Sebuah kisah hirarki memory lama</h5>
                </div>
			</div>
			<div class="right">
				<div class="right-text">
                    <div class="contact">
                        <form>
                            <h3>REGISTER</h3>
                            <input type="text" placeholder="Name">
                            <input type="email" placeholder="Email" [(ngModel)]="user.email" name="email">
                            <input type="password" placeholder="Password" [(ngModel)]="user.password" name="password" required>
                            <input type="password" placeholder="Confirm Password" required>
                            <button class="submit" (click)="register(user)">REGIST</button>
                        </form>
                    </div>
                </div>
			</div>
		</div>
	</section>
</body>
